@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&family=MuseoModerno:wght@300;400;700&display=swap');

/* Colors

Black: #0B0C10
Background: #1F2833
Gray: #C5C6C7
Light cyan: #66FCF1
Dark cyan: #45A29E

*/

body {
  margin: 0;
  background: #1F2833;
  font-family: 'MuseoModerno', cursive;
}

.header-title {
  text-decoration: none;
}

.marketlist-cards-text {
  opacity: 85%;
  text-decoration: none;
}

.listing-form {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: #C5C6C7;
  padding: 3em;
  border-radius: .25em;
  margin-top: 4em;
  border: 1px solid #66FCF1;
}

.menu {
  display: none;
}

nav {
  position: fixed;
  z-index: 999;
  width: 60%;
  right: 0;
  top: 0;
  background: #2e3b4b;
  height: 100%;
}

.mobile-menu-exit {
  float: right;
  cursor: pointer;
}

.card-bg {
  background-color: #0B0C10;
}

/* .borders {
  border: 1px solid blue
} */

/* #menu-hidden {
  display: hidden;
} */


/* 
.navbar-container {
  display: flex;
  place-content: space-between;
} */







